.branding-header {
    --height: auto;

    position: relative;
    margin-bottom: 5rem;
    height: var(--height);

    .hero-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--height);
        object-fit: cover;
        z-index: -1;
    }

    .hero.branding-hero {
        place-self: center; /*start start, start end, end start, end end, center*/
        /* end , center , start */
        text-align: center;

        > * {
            margin-bottom: 2rem;
            text-align: center; /* end , center , start */
            max-width: 520px;
        }
        h1 {
            font-size: xx-large;
        }
        h2 {
            margin-bottom: 4rem;
        }
        .btn {
            margin-top: 2rem;
        }
    }
}

main {
    section {
        align-items: start;
        min-height: 30svh;
        box-shadow: 0 0 10px 5px var(--clr-3);
    }
    details > p,
    summary {
        color: var(--clr-btn-txt-sec);
    }
    .typo {
        :nth-child(1) {
            margin-bottom: 5rem;
        }
        .typo-content {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            summary {
                margin-right: auto;
            }
            * {
                text-align: start;
            }
        }
    }

    .color-pallet {
        color: var(--clr-btn-txt-sec);
        background-color: var(--clr-bg-lght-drk);
        border: 1px solid var(--clr-btn-txt-sec);
    }

    .ui {
        .ui-content {
            place-content: start;
        }
    }
}
