@layer reset {
    html {
        color-scheme: light dark; /*light dark*/
        scroll-margin-top: 1rem;
        scrollbar-gutter: stable;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        * {
            transition:
                color var(--tempo) ease,
                background-color var(--tempo) ease,
                box-shadow var(--tempo) ease,
                border-color var(--tempo) ease,
                transform var(--tempo) ease,
                backdrop-filter var(--tempo) ease;
        }
        /*light dark*/
        &:has(#themeSlider:checked) {
            color-scheme: light;
        }

        @supports selector(::details-content) {
            details::details-content {
                block-size: 0;
                overflow: hidden;

                @media (prefers-reduced-motion: no-preference) {
                    transition:
                        block-size var(--tempo) ease,
                        content-visibility var(--tempo) ease;
                    transition-behavior: allow-discrete;
                }
            }

            details[open]::details-content {
                block-size: auto;
                content-visibility: visible;
            }
        }
    }

    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: smooth;
        }
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-align: start;
    }
}
@font-face {
    font-family: "Roboto-Thin";
    src: url("https://fonts.gstatic.com/s/roboto/v51/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2")
        format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: optional; /* 'auto' | 'block' | 'swap' | 'fallback' | 'optional' */
}
@layer variaveis {
    :root {
        --clr-1: white;
        --clr-2: black;
        --clr-3: lightgrey; /*-- signature 1 --*/
        --clr-4: grey; /*-- signature 2 --*/

        /* ACTIONS --------------------------------- */
        --clr-bg-lght-drk: light-dark(var(--clr-3), var(--clr-4));
        --clr-btn-bg-prim: var(--clr-3);
        --clr-btn-txt-prim: var(--clr-2);
        --clr-btn-bg-prim-hover: color-mix(
            in oklab,
            var(--clr-3) 70%,
            var(--clr-1)
        );
        --clr-btn-txt-prim-hover: var(--clr-2);
        --clr-btn-txt-prim-active: var(--clr-btn-txt-prim);

        --clr-btn-bg-sec: transparent;
        --clr-btn-txt-sec: light-dark(var(--clr-2), var(--clr-3));
        --clr-btn-bg-sec-hover: color-mix(
            in oklab,
            var(--clr-3) 80%,
            var(--clr-2)
        );
        --clr-btn-txt-sec-hover: var(--clr-btn-txt-sec);
        --clr-btn-txt-sec-active: var(--clr-btn-txt-sec);

        --clr-ham-bg-prim: var(--clr-btn-bg-prim);
        --clr-ham-line-prim: var(--clr-btn-txt-sec);

        --icon-size-logo: 3rem;
        --icon-logo-hamb-size: 2.5rem;
        --size-user-avatar: 1.625rem;

        --icon-size: 2rem;
        --icon-font-size: 1.5rem;
        --icon-padding: 0.5rem 1rem;
        --icon-font-size-small: 1rem;

        --fnt-sign: "Saira", sans-serif;
        --fnt-body: "Jost", sans-serif;

        --fs-h1: clamp(2rem, calc(4vw + 0.2rem), 3.44rem);
        --fs-h1-big: clamp(2.5rem, calc(5vw + 0.2rem), 5rem);
        --fs-h2: calc(var(--fs-h1) - 0.5rem);
        --fs-h2-big: var(--fs-h1);
        --fs-h3: calc(var(--fs-h2) - 0.25rem);
        --fs-h4: calc(var(--fs-h3) - 0.25rem);
        --fs-h5: calc(var(--fs-h4) - 0.125rem);
        --fs-h6: calc(var(--fs-h5) - 0.125rem);
        --fs-li-a: 1rem;

        /*
        --margin-hmf: 1.25rem 0;
        --margin-nav: 0.625rem 0;
        --margin-section: 1.25rem 1.25rem;
        --margin-aras: 0.9375rem 0.625rem;
        --margin-h1: 2.5rem 0;
        --margin-h2: 1.875rem 0;
        --margin-h3: 1.5625rem 0;
        --margin-p-ul: 0.9375rem 0;
        --margin-cel: 1.25rem 0;
        --padding-hf-nav-aras: 0.625rem;
        --padding-m-sec: 0.9375rem;
        --padding-p-ul: 0.3125rem;
        --padding-cel: 0.625rem;
        --gap-items: 1.2rem;
        */
        --container-max: 1900px;
        --container-mid: 1440px;
        --container-min: 1024px;
        --container-height: 100svh;

        --br-rds: 16px 16px 16px 16px;
        --border-size: 2px solid;
        --bx-sdw:
            inset 0 0 15px 5px var(--clr-3), 0 0px 1px var(--clr-2),
            0 0px 50px var(--clr-2);

        --tempo: 300ms;
        --section-anim-in: 5%;
        --section-anim-full: 40%;

        interpolate-size: allow-keywords;
    }
}
@layer global {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .title {
        color: var(--clr-btn-txt-sec);
    }
    body,
    ul,
    li,
    p,
    a {
        color: var(--clr-2);
    }
    body,
    ul,
    li,
    a,
    .title {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    body,
    p,
    .eyebrow {
        font-family: var(--fnt-body);
    }
    h1,
    .h1-big,
    h2,
    h3,
    .title {
        text-wrap: balance;
        font-family: var(--fnt-sign);
    }
    h1,
    h2,
    h3,
    ul,
    li,
    .title {
        font-weight: 500;
        text-transform: uppercase;
    }
    body {
        font-size: clamp(0.75rem, 0.3361vw + 0.6975rem, 1rem);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .title {
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.1em;
    }
    h1 {
        font-size: var(--fs-h1);
    }
    .h1-big {
        font-size: var(--fs-h1-big);
        font-weight: 600;
        line-height: 1.04em;
        text-align: left;
        letter-spacing: -0.01em;
    }
    h2 {
        font-size: var(--fs-h2);
    }
    .h2-big {
        font-size: var(--fs-h2-big);
        font-weight: 600;
    }
    h3 {
        font-size: var(--fs-h3);
    }
    h4 {
        font-size: var(--fs-h4);
        font-weight: 400;
    }
    h5 {
        font-size: var(--fs-h5);
        font-weight: 300;
    }
    h6,
    .eyebrow-small {
        font-size: var(--fs-h6);
        font-weight: 200;
    }
    .title {
        font-size: clamp(1.5rem, 3vw, 4rem);
        font-weight: 600;
    }
    p,
    .p-small,
    .p-large {
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.1em;
    }
    p {
        margin-bottom: 0.7em;
        font-size: 1rem;
        font-weight: 500;
        text-wrap: balance;
    }
    .p-small {
        font-size: 0.6rem;
        font-weight: 300;
    }
    .p-large {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .eyebrow {
        margin-bottom: 1.25rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: var(--clr-current_mix);
    }
    .eyebrow-small {
        margin-bottom: 1.25rem;
        font-size: 0.6rem;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: var(--clr-current_mix);
    }
    li,
    a {
        font-size: var(--fs-li-a);
        font-weight: 400;
        font-family: var(--fnt-body);
        cursor: pointer;
        color: var(--clr-2);
    }
}
@layer actions {
    button,
    .btn {
        padding: 0.5rem 1rem;
        letter-spacing: 0.08rem;
        font-weight: bold;
        text-transform: uppercase;
        background-color: var(--clr-btn-bg-prim) !important;
        color: var(--clr-btn-txt-prim);
        border-radius: var(--br-rds);
        border: var(--border-size) var(--clr-3);
        cursor: pointer;

        &:hover,
        &:focus-visible {
            background-color: var(--clr-btn-bg-prim-hover) !important;
            color: var(--clr-btn-txt-prim-hover);
        }
        &:active,
        &:target,
        &:target-current {
            color: var(--clr-btn-txt-prim-active) !important;
            box-shadow:
                inset 0 0 19px 9px transparent,
                inset 0 0 4px 1px var(--clr-3);
            transform: scale(0.95);
        }

        &.sec {
            background-color: var(--clr-btn-bg-sec) !important;
            color: var(--clr-btn-txt-sec);
            &.hamburger {
                background-color: var(--clr-ham-txt-prim) !important;
            }
            &:hover,
            &:focus-visible {
                color: var(--clr-btn-txt-sec-hover);
                box-shadow:
                    inset 0 0 19px 9px transparent,
                    inset 0 0 4px 1px var(--clr-3);
            }

            &:active,
            &:target,
            &:target-current {
                color: var(--clr-btn-txt-sec-active) !important;
                box-shadow:
                    inset 0 0 19px 9px transparent,
                    inset 0 0 4px 5px var(--clr-3);
            }
        }
    }

    .logo {
        border: var(--border-size) transparent;
    }

    .hamburger {
        padding: 10px;
        width: calc(var(--icon-size) + 10px);
        display: none;
        gap: 5px;
        flex-direction: column;
        z-index: 100;
        list-style: none;
        &::-webkit-details-marker {
            display: none;
        }
        span {
            display: block;
            width: 100%;
            height: 2px;
            background: var(--clr-ham-line-prim);
            border-radius: 2px;
        }
        /* &:hover {
            span {
                background-color: var(--clr-2);
            }
        } */
        &:focus-visible {
            outline: var(--border-size) var(--clr-4);
            outline-offset: 4px;
            backdrop-filter: var(--backdrop-filter);
            box-shadow: var(--bx-sdw);
        }
    }

    .btn-link {
        padding: 0.2rem 0.5rem;
        margin-inline: 1rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--clr-btn-txt-sec) !important;
        border-bottom: var(--border-size) transparent;
        cursor: pointer;

        &:hover,
        &:focus-visible {
            color: var(--clr-4) !important;
        }
        &:active,
        &:target,
        &:target-current {
            color: var(--clr-3) !important;
            border-bottom: var(--border-size) var(--clr-3);
            transform: scale(0.95);
        }
    }
}
@layer animations {
    /* == trocar entre light e dark mode == */
    @keyframes slideOn {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(16px);
        }
    }

    @keyframes slideOff {
        0% {
            transform: translateY(16px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    /* ==================================== */
    @keyframes reveal {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes pop-in {
        from {
            opacity: 0;
            transform: translateX(-50%) translateY(0) scale(0.9);
        }
        to {
            opacity: 1;
            transform: translateX(-50%) translateY(-10px) scale(1);
        }
    }
    @starting-style {
        details[open] .local {
            opacity: 0;
            transform: translateY(-15px);
        }
    }
}
@layer layout {
    .hidden {
        display: none !important;
    }
    footer {
        padding: clamp(1rem, 2.5vw, 2rem);
    }
    section {
        scroll-margin-top: 2.5rem;
        margin-bottom: clamp(2rem, 5vw, 4rem);
        padding: clamp(1rem, 2.5vw, 2rem) 0;
        width: 100%;
    }
    section {
        view-timeline-name: --reveal;
        view-timeline-axis: block;
        animation: reveal linear both;
        animation-timeline: --reveal;
        animation-range: entry var(--section-anim-in) cover
            var(--section-anim-full);
    }

    .content-grid {
        --padding-inline: 1rem;
        --content-max-width: var(--container-min);
        --breakout-max-width: var(--container-mid);

        --breakout-size: calc(
            (var(--breakout-max-width) - var(--content-max-width)) / 2
        );

        max-width: var(--container-max);
        margin-inline: auto;

        display: grid;
        align-items: start;
        grid-template-columns:
            [full-width-start] minmax(var(--padding-inline), 1fr)
            [breakout-start] minmax(0, var(--breakout-size))
            [content-start] min(
                100% - (var(--padding-inline) * 2),
                var(--content-max-width)
            )
            [content-end]
            minmax(0, var(--breakout-size)) [breakout-end]
            minmax(var(--padding-inline), 1fr) [full-width-end];
    }

    .content-grid > :not(.breakout, .full-width),
    .full-width > :not(.breakout, .full-width) {
        grid-column: content;
    }

    .content-grid > .breakout {
        grid-column: breakout;

        > .content-grid {
            grid-column: content;
            grid-template-columns: inherit;
        }
    }
    .content-grid > .content-grid {
        grid-column: content;
        grid-template-columns: inherit;
    }

    .content-grid > .full-width {
        grid-column: full-width;

        display: grid;
        grid-template-columns: inherit;

        > .full-width {
            grid-column: full-width;
            grid-template-columns: inherit;
        }
        > .breakout {
            grid-column: breakout;
            grid-template-columns: inherit;
        }
        > .content-grid {
            grid-column: content;
            grid-template-columns: inherit;
        }
    }

    .grid-a-blocks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        gap: 1rem;
    }
    .border-radius {
        border-radius: var(--br-rds);
    }
    .box {
        width: auto;
        height: 100px;
        border: var(--border-size) var(--clr-4);
    }
}

body {
    min-height: 100svh;
}
nav {
    width: 100%;
    padding: 0.75rem 1rem;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    background: var(--clr-bg-lght-drk);
    box-shadow: var(--bx-sdw);
    * {
        text-transform: uppercase;
    }

    .mobile-nav {
        display: none;
    }

    .nav-content {
        max-width: 1200px;
        padding: 0.5rem 1rem;
        display: inline-flex;
        justify-content: space-around;
        .menu {
            display: inline-flex;
            align-items: center;
        }
        span {
            border-left: var(--border-size) var(--clr-4);
            border-right: var(--border-size) var(--clr-4);
        }

        .login-sign_up {
            margin-inline: 0.5rem;
            place-self: center;
        }
    }

    .light-dark {
        --box-width: 12px;
        /* position: absolute; right: 1px; top: 0px; */
        aspect-ratio: 9 / 16;
        width: var(--box-width);
        .toggle {
            visibility: hidden;

            &:checked + .label {
                background-color: rgba(0, 0, 0, 0.2);
            }
            &:checked + .label .ball {
                animation: slideOn 0.3s linear forwards;
            }
        }
        .toggle {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
        }

        .label {
            --height: 100%;
            --width: 100%;
            --radius: 5px;
            background-color: lightgrey;
            width: var(--width);
            height: var(--height);
            border-radius: var(--radius);
            border: 2px solid orange;
            cursor: pointer;
            display: inline-block;
            position: relative;
            overflow: hidden;
            transition: background-color 0.3s ease;

            .ball {
                background-color: hsl(28, 88%, 53%);
                width: var(--box-width);
                height: var(--box-width);
                border-radius: var(--radius);
                position: absolute;
                top: 0px;
                left: -1.5px;
                box-shadow:
                    inset 4px 4px 12px 10px hsl(38, 97%, 51%),
                    0 0 20px 5px rgba(0, 0, 0, 0.8);
                animation: slideOff 0.3s linear forwards;
            }
        }
    }

    @media (max-width: 700px) {
        .mobile-nav {
            display: block;
            position: relative;
            z-index: 100;
        }
        .nav-content {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 4.5rem 2rem 2.5rem;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            border-radius: var(--border-radius);
            box-shadow: var(--bx-sdw);
            z-index: 99;
            .light-dark {
                right: 16px;
                top: 72px;
            }
        }
        .login-sign_up {
            display: flex;
            gap: var(--gap-items);
        }
        .menu {
            flex-direction: column;
            align-items: center;
            gap: var(--gap-items);
        }
        &:has(.mobile-nav[open]) .nav-content {
            display: flex;
            margin-inline: auto;
            span {
                width: 200px;
                border: var(--border-size) var(--clr-4);
            }
        }
        .mobile-nav[open] > summary span:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .mobile-nav[open] > summary span:nth-child(2) {
            opacity: 0;
        }
        .mobile-nav[open] > summary span:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
        .hamburger {
            display: flex;
        }
    }
}
header {
    --height: 89svh;

    position: relative;
    margin-bottom: 5rem;
    height: var(--height);

    .hero-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--height);
        object-fit: cover;
        z-index: -1;
    }

    .hero {
        margin-block: 50px;
        place-self: center;
        /* end , center , start */
        text-align: center;

        h1 {
            font-size: xx-large;
        }
        h2 {
            margin-bottom: 4rem;
        }

        /* _____________ ___________
          |             |           |
          | start start | start end |
          |__________ center________|
          |             |           |
          |  end start  |  end end  |
          |_____________|___________|

        */

        > * {
            margin-bottom: 2rem;
            text-align: center; /* end , center , start */
            max-width: 520px;
        }
        .btn {
            margin-top: 2rem;
        }
    }
}
